<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
<%-include('./inc/libcss.ejs')%>
<style>
    .brand-item img{
        width: 600px;
    }
</style>
</head>

<body>   
    
                  <%-include('./inc/nav.ejs')%>

    <!-- Slider Section Strat -->
    <div class="slider-section slider-active overflow-hidden">
        <div class="swiper">
            <div class="swiper-wrapper">

                <!-- Single Slider Start -->
                <div class="swiper-slide single-slider animation-style-01" style="background-image: url(/sayt/images/slider/home-side-2.jpg);">
                    <div class="container">

                        <!-- Slider Content Start -->
                        <div class="slider-content text-center mx-auto">
                            <img class="slider-content__shape" width="95" height="108" src="/sayt/images/gold_logo.jpg" style="border-radius: 50%;" alt="Shape">
                            <h1 class="slider-content__title text-white">Xarı Bülbül'ə Xoş Gəlmisiniz </h1>
                            <a class="slider-content__btn btn btn-primary btn-hover-black" href="#discover">İndi Kəşf Edin </a>
                        </div>
                        <!-- Slider Content Start -->

                    </div>
                </div>
                <!-- Single Slider End -->

                <!-- Single Slider Start -->
                <div class="swiper-slide single-slider animation-style-01" style="background-image: url(/sayt/images/slider/home-side-3.jpg);">
                    <div class="container">

                        <!-- Slider Content Start -->
                        <div class="slider-content text-center custom-ms-01">
                            <img class="slider-content__shape" width="95" height="62" src="/sayt/images/gold_logo.jpg" style="border-radius: 50%;"  alt="Shape">
                            <h1 class="slider-content__title text-white">Dadlı Şokoladların Məkanı</h1>
                            <a class="slider-content__btn btn btn-primary btn-hover-black" href="/contact">Əlaqə </a>
                        </div>
                        <!-- Slider Content Start -->

                    </div>
                </div>
                <!-- Single Slider End -->

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- Slider Section End -->
    <!-- Brand Section Strat -->
    <div class="brand-section">
        <div class="container">

            <!-- Brand Action Strat -->
            <div class="brand-active">
                
            <!-- Section Title Strat -->
            <div class="section-title text-center max-width-720 mx-auto" id="discover">
                <h2 class="section-title__title">Kategoriyalar</h2>
                <p>Xarı Bülbül</p>
            </div>
            <!-- Section Title End -->
                <div class="swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                                
                            <img src="/sayt/images/category/cat1.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                        <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                                <img src="/sayt/images/category/cat2.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                        <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                            <img src="/sayt/images/category/cat3.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                        <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                                <img src="/sayt/images/category/cat4.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                        <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                            <img src="/sayt/images/category/cat5.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                                             <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                            <img src="/sayt/images/category/cat6.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                                             <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                            <img src="/sayt/images/category/cat7.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                                             <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                            <img src="/sayt/images/category/cat8.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                                             <!-- Brand Item Strat -->
                        <div class="swiper-slide brand-item">
                            <a href="/category">
                            <img src="/sayt/images/category/cat9.jpeg" alt="Brand">
                            </a>
                        </div>
                        <!-- Brand Item End -->

                    </div>
                </div>
            </div>
            <!-- Brand Action End -->

    <!-- Product Section Strat -->
    <div class="section-padding-01">
        <div class="container">

            <!-- Section Title Strat -->
            <div class="section-title text-center max-width-720 mx-auto" id="discover">
                <h2 class="section-title__title">Xarı Bülbülü Kəşf edin</h2>
                <p>Xarı Bülbül</p>
            </div>
            <!-- Section Title End -->

            <div class="row g-6 gx-lg-10">
                <div class="col-lg-4 col-md-6">
                    <!-- Product Item Start -->
                    <div class="product-item border text-center">
                        <div class="product-item__badge">Hot</div>
                        <div class="product-item__image">
                            <a href="/gallery"><img width="350" height="350" src="/sayt/images/product/discover-1.jpg" alt="Product"></a>
                        </div>
                        <div class="product-item__content pb-3">
                            <h5 class="product-item__title"><a href="/gallery">
                            Müxtəlif Növ Şokoladlar</a></h5>
                            <p>Birbirindən Möhtəşəm və Fərqli Təamlara Sahib Şokoladlarımızı Kəşf Edin.</p>
                            <a href="/gallery" class="product-item__arrow"><img width="40" height="15" src="/sayt/images/arrow.svg" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Product Item Start -->
                    <div class="product-item border text-center">
                        <div class="d-none">Hot</div>
                        <div class="product-item__image">
                            <a href="/interier"><img width="350" height="350" src="/sayt/images/product/discover-2.jpg" alt="Product"></a>
                        </div>
                        <div class="product-item__content pb-3">
                            <h5 class="product-item__title"><a href="https://l.instagram.com/?u=https%3A%2F%2Fxaribulbul.clopos.menu%2Fmenu%2F%3Fv%3D1&e=AT1cUkTvW1IX64foAM1JS5i2q7x17j219cJX4h4uFK4_qrRJ3-UN5rj9vtYuo7-1p_nTGrehxRdsutyV2j47Qc0gvNAZouA5oTWq4w">Kafe</a></h5>
                            <p>Xarı Bülbülün Elegant Lux Kafesini Zəngin Menyusu İlə Birlikdə Kəşf Edin</p>
                            <a href="https://l.instagram.com/?u=https%3A%2F%2Fxaribulbul.clopos.menu%2Fmenu%2F%3Fv%3D1&e=AT1cUkTvW1IX64foAM1JS5i2q7x17j219cJX4h4uFK4_qrRJ3-UN5rj9vtYuo7-1p_nTGrehxRdsutyV2j47Qc0gvNAZouA5oTWq4w" class="product-item__arrow"><img width="40" height="15" src="/sayt/images/arrow.svg" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Product Item Start -->
                    <div class="product-item border text-center">
                        <div class="d-none">Hot</div>
                        <div class="product-item__image">
                            <a href="https://xaribulbul.clopos.menu/menu/?v=1"><img width="350" height="350" src="/sayt/images/product/discover-3.jpg" alt="Product"></a>
                            <ul class="product-item__meta meta-middle">
                                <li class="product-item__meta-action"><a class="labtn-icon-quickview" href="#" data-bs-tooltip="tooltip" data-bs-placement="top" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleProductModal"></a></li>
                            </ul>
                        </div>
                        <div class="product-item__content pb-3">
                            <h5 class="product-item__title"><a href="https://www.instagram.com/kharybulbul.restaurants/">Fərqli Təamlar</a></h5>
                            <p>Menyumuza Daxil Olan Yeni Təamlardan Xəbər Alın</p>
                            <a href="https://www.instagram.com/kharybulbul.restaurants/" class="product-item__arrow"><img width="40" height="15" src="/sayt/images/arrow.svg" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>
            </div>

        </div>
    </div>
    <!-- Product Section End -->

    <!-- Call to Action Section Strat -->
    <div class="call-to-action" style="background-image: url(/sayt/images/call-to-action-bg.jpg);">
        <div class="container">

            <div class="row align-items-center gy-8 gx-0">
                <div class="col-lg-6">
                    <!-- Call to Action box Strat -->
                    <div class="call-to-action-box">
                        <h3 class="call-to-action-box__title text-white"><span>Kategoriyalara Baxın</span></h3>
                        <ul class="call-to-action-box__list text-white">
                            <li></u></li>
                            <li></li>
                        </ul>
                    </div>
                    <!-- Call to Action box End -->
                </div>
                <div class="col-lg-6">
                    <!-- Call to Action box Start -->
                    <div class="call-to-action-more text-center position-relative">
                        <a class="call-to-action-more__arrow text-white lh-1" href="/category"><i class="lastudioicon-arrow-right"></i></a>

                        <div class="position-absolute top-50 start-50 translate-middle">
                            <img class="call-to-action-more__svg" src="/sayt/images/svg-text.svg" alt="Svg Text">
                        </div>
                    </div>
                    <!-- Call to Action box End -->
                </div>
            </div>


        </div>
    </div>
    <!-- Call to Action Section End -->


        </div>
    </div>
    <!-- Brand Section End -->

    <!-- Product Section End -->
    <div class="section-padding-01">

        <div class="container">
            <!-- Section Title Strat -->
            <div class="section-title text-center max-width-720 mx-auto">
                <h2 class="section-title__title">Şkoladlarımız</h2>
                <p>Xarı Bülbül</p>
            </div>
            <!-- Section Title End -->

            <!-- Product Tab Menu Strat -->
            <div class="product-tab-menu pb-8">
                <ul class="nav justify-content-center">
                    <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab1">Hamısı</button></li>
                </ul>
            </div>
            <!-- Product Tab Menu End -->

           <div class="tab-content">
    <div class="tab-pane fade show active" id="tab1">
        <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n50">
            <% products.forEach(function(product) { %>
                <div class="col mb-50">
                    <!-- Product Item Start -->
                    <div class="product-item text-center">
                        <div class="product-item__image border w-100">
                            <a href="<%= product.link %>">
                                <img width="350" height="350" src="<%= product.imageUrl %>" alt="<%= product.name %>">
                            </a>
                        </div>
                    </div>
                    <!-- Product Item End -->
                </div>
            <% }); %>
        </div>
    </div>
</div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Product Section End -->
    <!-- Banner Section Strat -->
    <div class="banner-section">
        <div class="row row-cols-1 row-cols-md-2 g-0">
            <div class="col">
                <!-- Banner Item Strat -->
                <a href="/category" class="banner-item" style="background-image: url(/sayt/images/product/set-1.jpg);">
                    <div class="banner-item__content">
                        <h3 class="banner-item__title text-white">Şkolad Qutuları</h3>
                        <span class="banner-item__btn text-white">İndi Baxın</span>
                    </div>
                    <div class="banner-item__badge text-white">01.</div>
                </a>
                <!-- Banner Item End -->
            </div>
            <div class="col">
                <!-- Banner Item Strat -->
                <a href="/gallery" class="banner-item" style="background-image: url(/sayt/images/product/set-4.jpg);">
                    <div class="banner-item__content">
                        <h3 class="banner-item__title text-white">Şkoladlar</h3>
                        <span class="banner-item__btn text-white">İndi Baxın</span>
                    </div>
                    <div class="banner-item__badge text-white">02.</div>
                </a>
                <!-- Banner Item End -->
            </div>
            <div class="col">
                <!-- Banner Item Strat -->
                <a href="https://xaribulbul.clopos.menu/menu/?v=1&fbclid=PAAabZhh2vZleO_vLeve1Sa28k7jr0nMzwveqeNzPP13Le02tqQLBxcPD7rOM" class="banner-item" style="background-image: url(/sayt/images/product/menu-discover-7.jpg);">
                    <div class="banner-item__content">
                        <h3 class="banner-item__title text-white">Dadlı Menyu</h3>
                        <span class="banner-item__btn text-white">İndi Baxın</span>
                    </div>
                    <div class="banner-item__badge text-white">03.</div>
                </a>
                <!-- Banner Item End -->
            </div>
            <div class="col">
                <!-- Banner Item Strat -->
                <a href="/interier" class="banner-item" style="background-image: url(/sayt/images/product/menu-discover-4.jpg);">
                    <div class="banner-item__content">
                        <h3 class="banner-item__title text-white">Gözəl İnteryer</h3>
                        <span class="banner-item__btn text-white">İndi Baxın</span>
                    </div>
                    <div class="banner-item__badge text-white">04.</div>
                </a>
                <!-- Banner Item End -->
            </div>
        </div>
    </div>
    <!-- Banner Section End -->
 <!-- Product Section End -->
 <div class="section-padding-01">

    <!-- Call to Action Section Strat -->
    <div class="call-to-action-02" style="background-image: url(/sayt/images/call-to-action-bg-02.jpg);">

        <!-- Call to Action Section Strat -->
        <div class="call-to-action-02-wrapper section-padding-01">
            <div class="container">
                <!-- Call to Action Section Strat -->
                <div class="call-to-action-02-content text-center">
                    <h4 class="call-to-action-02-content__sub-title text-primary">Xarı Bülbül</h4>
                    <h2 class="call-to-action-02-content__title text-white mt-1">Çoxlu Möhtəşəm Şkoladlar</h2>
                    <p class="mt-6 text-white">Kəşf Edin</p>
                    <a class="btn btn-outline-white btn-hover-primary" href="/contact">Sifariş Verin</a>
                </div>
                <!-- Call to Action Section End -->
            </div>
        </div>
        <!-- Call to Action Section End -->

        <!-- Call to Action Meta Strat -->
        <div class="call-to-action-02-meta">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Call to Action Meta Strat -->
                        <div class="call-to-action-02-meta-item text-center">
                            <a href="/contact">
                                <div class="call-to-action-02-meta-item__icon text-primary">
                                    <i class="dlicon tech_mobile"></i>
                                </div>
                                <div class="call-to-action-02-meta-item__text text-white">Əlaqə Saxlayın</div>
                            </a>
                        </div>
                        <!-- Call to Action Meta End -->
                    </div>
                    <div class="col-md-4">
                        <!-- Call to Action Meta Strat -->
                        <div class="call-to-action-02-meta-item text-center">
                            <a href="https://wa.me/994508558866">
                                <div class="call-to-action-02-meta-item__icon text-primary">
                                    <i class="dlicon shopping_bag-09"></i>
                                </div>
                                <div class="call-to-action-02-meta-item__text text-white">Sifariş Verin</div>
                            </a>
                        </div>
                        <!-- Call to Action Meta End -->
                    </div>
                    <div class="col-md-4">
                        <!-- Call to Action Meta Strat -->
                        <div class="call-to-action-02-meta-item text-center">
                            <a href="https://goo.gl/maps/rh6DFSSCbzWNNR8s9">
                                <div class="call-to-action-02-meta-item__icon text-primary">
                                    <i class="lastudioicon lastudioicon-pin-3-2"></i>
                                </div>
                                <div class="call-to-action-02-meta-item__text text-white">Kafenin Lokasiyası</div>
                            </a>
                        </div>
                        <!-- Call to Action Meta End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action Meta End -->

    </div>
    <!-- Call to Action Section End -->

    <!-- Instagram Section Strat -->
    <div class="instagram-section section-padding-01">
        <div class="container">
            <div class="row gy-6 align-items-center">
                <div class="col-md-4">
                    <!-- Instagram Title Strat -->
                    <div class="instagram-title">
                        <h2 class="instagram-title__title">INSTAGRAM</h2>
                        <p class="instagram-title__sub-title text-global-color-01">@kharybulbul.restaurants </p>
                    </div>
                    <!-- Instagram Title End -->
                </div>
                <div class="col-md-8">

                    <!-- Instagram Images Strat -->
                    <div class="instagram-active">
                        <div class="swiper">
                            <div class="swiper-wrapper">

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-1.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-2.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-3.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-4.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-5.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-6.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-7.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                                <!-- Instagram Item Strat -->
                                <div class="swiper-slide instagram-item">
                                    <a href="https://www.instagram.com/kharybulbul.restaurants/">
                                        <div class="instagram-item__image">
                                            <img src="/sayt/images/instagram/instagram-8.jpg" alt="Instagram">
                                        </div>
                                        <div class="instagram-item__icon">
                                            <i class="lastudioicon lastudioicon-b-instagram"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- Instagram Item End -->

                            </div>
                        </div>
                    </div>
                    <!-- Instagram Images End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->

    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="lastudioicon-up-arrow"></i>
    </a>
    <!-- Scroll Top End -->


<%-include('./inc/footer.ejs')%>

    <div class="quickview-product-modal modal fade" id="exampleProductModal">

    <div class="quickview-product-modal modal fade" id="modalCompare">
        <div class="modal-dialog modal-dialog-centered mw-100">
            <div class="custom-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="lastudioicon lastudioicon-e-remove"></i>
                </button>
                <div class="modal-body">
                    <i class="dlicon files_check"></i> Added To Compare Successfully!
                </div>
            </div>
        </div>
    </div>

    <!-- JS Vendor, Plugins & Activation Script Files -->

<!-- libs -->
<%-include('./inc/libscript.ejs')%>
    <!-- Activation JS -->
    <script src="/sayt/js/main.js"></script>


</body>

</html>